	/* HEADER START */
	
	body 
	{
		margin: 0px;
	}
   
   .topContainer
   {
	   	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../resources/images/IMG_4328.jpg");
	   	background-size: 100%;
	   	background-repeat: no-repeat;
	   	background-position: center;
	   	width: 100%;
	   	height: 600px;
   }

	.navigation-bar
	{
		width: 100%;
		height: 60px;
	 	text-align: right;
	}

	.logo
	{
		margin-left: 60px;
		width: 200px;
		height: 40px;
		float: left;
	}

	.topNav
	{
		width: 100%;
		display: block;
		float: left;
	}

	.topNavMenu
	{
		width: 400px;
		float: right;
	}

	.topNavMenu ul
	{
		padding: 0px;
		margin: 0px;
	}

	.topNavMenu li
	{
		display: inline-block;
	}

	.topNavLink
	{
		display: inline-block;
		color: white;
		padding-right: 21px;
		cursor: pointer;
	}

	/* HEADER END */

	.topTextContainer
	{
		height: 10%;
		padding-bottom: 100px;
	}

	.titlecenter
	{
		text-align: center;
		font-family: Arial;
		font-size: 3em;
		margin: 0px;
		padding: 0px;
		letter-spacing: 0.2em;
		color: white;
		text-align: center;
		padding-top: 216px;

	}
   .titlecaravan
   {
   	font-family: Arial;
   	font-size: 1em;
   	color: white;
   	padding-left: 60px;
   	
   }
   #textcenter
   {
   	font-family: Arial;
   	text-align: center;
   	font-size: 1em;
   	letter-spacing: 0.1em;
   	border-spacing: 1em;

   }

   #titlecenter2
   {
   	color: black;
   	font-family: Arial;
   	letter-spacing: 0.1em;
   	font-size: 3em;
   }


   .middleContainer
   {
   	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../resources/images/IMG_3051.jpg");
   	background-size: 100%;
   	background-repeat: no-repeat;
   	background-position: center;
   	width: 100%;
	height: 600px;
	text-align: center;
   }
   #textcenter2
   {
   	font-family: Arial;
   	text-align: center;
   	font-size: 1em;
   	letter-spacing: 0.1em;
   	color: white;
   	padding-bottom: 20px;

   }
   .button
   {
    width: 220px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    padding-top: 8px;
    font-size: 25px;
    border-radius: 25px;
    border: 1px solid white;
   }

   .button:hover{
   	    filter: brightness(50%);
   	    cursor: pointer;
   }
 

 .middlePicture1
 {
  	background-image: url("../resources/images/IMG_7572.jpg");
  	align-content: center;
  	height: 10px;
  	width: 20%;
  	background-size: 100%;
  	background-position: center;
  	background-repeat: no-repeat;

 }

 #middleTextContainer
 {
	font-family: Arial;
   	align-content: center;
   	font-size: 1em;
   	letter-spacing: 0.1em;
   	border-spacing: 1em;
 
 }


	.bottomGalleryContainer
{
	height: 690px;
  	width: 800px;
  	margin-top: 80px;
  	margin-right: auto;
  	margin-left: auto;
}
.bottomGalleryTopContainer
{
	width: 800px;
	height: 300px;
	
}


.bottomGallerybottonContainer
{
	width: 800px;
	height: 377px;
	background-image: url('../resources/images/IMG_0619.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
  	background-position: center;

  	
	

}


.bottomText
{
	padding-top: 74px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
#footer
{
    width: 100%;
	height: 300px;
	background-color: grey;
}
.contactInfo
{
	width: 40%;
	height: 200px;
	margin-right: auto;
	padding-left: 190px;
	padding-top: 50px;
}
.phoneInfo 
{
	font-family: Arial;
	font-size: 0.8em;
	color: white;
	padding-top:50px;
	 -webkit-column-count: 2;
    column-count: 2;
}

.fbButton:hover
{
 cursor: pointer;
}

.fbButton
{

}
.image-zoom-container {
	list-style: none;
	font-size: 0px;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 25%;
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	padding-bottom: 10px;
    padding-left: 3px;
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}

.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}
 
@media (max-width: 767px) {
	.zoom-container {
		width: 50%;
	}
}
 
@media (max-width: 480px) {
	.zoom-container {
		width: 100%;
	}
}